* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s ease-out;
}

@font-face {
    font-family: LynoStan;
    src: url("LynoStan.otf") format("opentype");
}
@font-face {
    font-family: LynoUlys;
    src: url("LynoUlys.otf") format("opentype");
}
@font-face {
    font-family: LogoFont;
    src: url("logofont.otf") format("opentype");
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Variables */


/* General */

#wrap{
    margin: 0 auto;
    padding-top: 80px;
    background: rgb(139,93,140);
    background: linear-gradient(180deg, rgba(139,93,140,1) 0%, rgba(56,38,55,1) 38%, rgba(13,10,11,0.8774860285911239) 50%, rgba(69,37,27,1) 65%, rgba(140,72,48,1) 100%);
    color: white;

    background: rgb(15,10,11);
    background: linear-gradient(180deg, rgba(15,10,11,1) 0%, rgba(64,18,18,1) 25%, rgba(13,10,11,0.9755252442773985) 50%, rgba(64,18,18,1) 75%, rgba(15,10,11,1) 100%);

    position: relative;
}

body{
    font-family: LynoStan;
    background-color: #0D0A0B;
}

h1, h2{
    font-family: LynoUlys;
    font-size: 2rem;
    margin: 1rem;
}

p{
    font-size: 0.8rem;
    margin: auto 1rem;
}

iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.iframe-container{
    position: relative;
    padding-top:56.25%;
}

#iframe-cont-OEPU{
    width: 50%;
    height: auto;
    margin: auto 0;
}

#iframe-cont-PRODUCT{
    margin: 2rem;
}

.nav-link-container{
    display: inline-block;
    font-size: 0.75rem;
}

.nav-link-container a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Header */

#header{
    height: 80px;

    width: 100%;
    
    z-index: 100;
    
    position: fixed;
    left: 0;

    top: 0;

    padding: 0 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #0D0A0B;
}


#header-img{
    width: auto;
    max-height: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.5rem; 
}

#nav-bar{
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: row;
    align-items: center;

}

#nav-list{
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#nav-logo{
    margin-right: auto;
    font-family: LogoFont;
    font-size: 2em;
}

/* Responsive Nav-bar */
#responsive-nav-bar{
    display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Main */

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

#main > div{
    margin: 5rem 0;
    background: rgb(64,18,18);
    background: linear-gradient(90deg, rgba(64,18,18,0.9) 0%, rgba(13,10,11,1) 40%, rgba(13,10,11,0.9) 50%, rgba(13,10,11,1) 60%, rgba(64,18,18,0.9) 100%);
    position: relative;
    z-index: 2;
}

#main > div::before{
    content: "";

    background: rgb(64,18,18);
    background: linear-gradient(90deg, rgba(64,18,18,0.9) 0%, rgba(13,10,11,1) 40%, rgba(13,10,11,0.9) 50%, rgba(13,10,11,1) 60%, rgba(64,18,18,0.9) 100%);

    position: absolute;
    width: 100%;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: -1rem 0;

    z-index: -1;

    filter: blur(10px);

    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}


.card-cont{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 150px;
    height: 150px;

    display: flex;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;

    align-items: center;
    justify-content: center;
}

.card img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.card:not(:first-child) {
    margin-left: -80px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 100px;
  transition: 0.4s ease-out;
}


.song-tittle{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0%;
    opacity: 0;
    color: black;
}

.description{
    margin: 2rem;
}

.card:hover .song-tittle{
    opacity: 1;
    transition: 0.7s ease-out;
}


#OEPU-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#song-list{
    display: inline-block;
    margin: 1rem;
}

#song-list li{
    list-style-type: circle;
    text-align: left;
}

#select-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: rgb(64,18,18);
    background: linear-gradient(180deg, rgba(64,18,18,0.9) 0%, rgba(13,10,11,1) 40%, rgba(13,10,11,0.9) 50%, rgba(13,10,11,1) 60%, rgba(64,18,18,0.9) 100%);
}

#album-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.album{
    width: 50%;

    box-shadow: -1rem 0 3rem #000;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem;
    padding: 0.5rem;

    /* background: rgb(140,74,50);
    background: radial-gradient(circle, rgba(140,74,50,1) 0%, rgba(57,32,25,1) 59%, rgba(13,10,11,0.9026961126247374) 98%); */
    background: rgb(208,217,204);
    background: radial-gradient(circle, rgba(208,217,204,1) 0%, rgba(125,130,122,1) 30%, rgba(85,87,82,1) 52%, rgba(13,10,11,1) 100%);
}

.album:hover{
    background: black;
    scale: 1.025;
    background-color: black;
    transition: 1.5s ease-out;
}

.album:hover > button{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.album-image{
    display: block;
    width: 100%;
    height: auto;
    box-shadow: -1rem 0 3rem #000;
    border-radius: 10px;
}

.album-tittle{
    margin: 1rem;
}

.album-button{
    font-size: 1rem;
    font-family: LynoUlys;
    color: white;

    width: 100px;
    height: 50px;
    margin: 2rem 0 1rem 0;

    border: none;
    background-color: black
}

.album-button:hover{
    scale: 1.025;
    transition: 0.3s ease-out ;
}

.album-button:active{
    scale: 0.975;
    transition: 0.3s ease-out;
}

.album:has( .album-button:active ){
    scale: 0.975;
    background-color: white;
    color: black;
    transition: 0.3s ease-out;
}

#bundle-image-PRODUCT{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: auto;

    clip-path: polygon(0 0, 0 100% , 100% 100%);

    border-radius: 10px;
    display: block;
}

#bundle-image-OEPU{
    position: relative;

    max-width: 100%;
    height: auto;
    
    border-radius: 10px;
    display: block;

    z-index: 0;
}

#bundle-album-image{
    position: relative;
    width: 100%;
    height: 100%;
}

#form-cont{
    width: 70%;
    margin: 3rem;
}

#form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#email{
    height: 40px;
    width: 75%;

    margin: 2rem;

    font-family: LynoStan;
    text-align: center;
}

#submit{
    font-size: 1rem;
    font-family: LynoUlys;
    color: snow;

    width: 20%;
    height: 40px;

    margin: 0.5rem;

    border: none;
    background-color: black
}

#submit:hover{
    background-color: white;
    color: black;
    transition: 1s ease-out;
}

#social-media-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fa {
    padding-top: 4px;
    
    width: 50px;
    height: 50px;
    
    line-height: 50px;

    font-size: 40px !important;

    
    text-align: center;
    text-decoration: none;

    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
    text-shadow: 3px 3px #0D0A0B;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    padding-top: 10px;
    text-shadow: 3px 3px #0D0A0B;
  }

  .fa-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
  }
  

#footer{
    color: white;

    height: 80px;
    width: 100%;

    background-color: #0D0A0B;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

#footer > *{
    margin: 0 1rem;
}


/* MEDIA QUERYS */

@media (max-width: 650px) {
    
    #main > div{
        margin: 5rem 0;
        background: rgb(64,18,18);
        background: linear-gradient(90deg, rgba(64,18,18,0.9) 0%, rgba(13,10,11,1) 40%, rgba(13,10,11,0.9) 50%, rgba(13,10,11,1) 60%, rgba(64,18,18,0.9) 100%);
    }

    .card:not(:first-child) {
        margin-left: 0px;
    }

    .card:hover ~ .card {
        position: relative;
        left: 0px;
        transition: 0.4s ease-out;
    }

    .card-cont{
        justify-items: center;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
    }

    .card{
        width: 150px;
        height: 150px;
    
        display: flex;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    
        align-items: center;
        justify-content: center;
    }

    .album{
        width: 70%;
    }

    #OEPU-wrap{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    
    #song-list{
        display: inline-block;
        margin: 1rem auto;
    }

    .iframe-container{
        position: relative;
        padding-top:56.25%;
    }

    #iframe-cont-PRODUCT{
        width: 100%;
        height: auto;
        margin: auto 0;
    }

    #iframe-cont-OEPU{
        width: 100%;
        height: auto;
        margin: auto 0;
    }

    #form{
        flex-direction: column;
    }
    
    #email{
        height: 40px;
        width: 70%;
    
        margin: 2rem;
        margin-bottom: -0.25rem;
    
        font-family: LynoStan;
        text-align: center;
    }
    
    #submit{
        font-size: 1rem;
        font-family: LynoUlys;
        color: snow;
    
        width: 100px;
        height: 50px;
    
        margin: 0.5rem;
    
        border: none;
        background-color: black
    }

    /*Responsive header*/
    #nav-bar{
        display: none;
    }

    #responsive-nav-bar{
        display: flex;
        height: 100%;
        width: 100%;
    
        flex-direction: row;
        align-items: center;
    }

    .dropdown-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 300px;
        height: 200px;

        position: absolute;
        top: 75px;
        right: -10px;
        background-color: rgba(219, 214, 226, 0.9);

        transform: translateX(400px);
    }

    .responsive-nav-link{
        display: inline-block;
        margin: 1rem 2rem; 
    }

    .nav-link{
        color: black;
        text-decoration: none;
    }

    .dropdown-menu{
        position: relative;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu-icon{
        position: absolute;
        width: 70%;
        height: 5%;
        border-radius: 10px;
        background-color: rgb(208,217,204);
        z-index: 0;
    }

    .dropdown-menu-icon::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgb(208,217,204);
        transform: translateY(15px);
    }

    
    .dropdown-menu-icon::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgb(208,217,204);
        transform: translateY(-15px);
    }

    input[type="checkbox"]{
        appearance: none;
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    input[type="checkbox"]:checked ~ .dropdown-menu-icon::before{
        animation-name: before;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    input[type="checkbox"]:checked ~ .dropdown-menu-icon::after{
        animation-name: after;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    input[type="checkbox"]:checked ~ .dropdown-menu-icon{
        background-color: rgba(0, 0, 0, 0);
        transition: 0.5s ease-out;
    }

    input[type="checkbox"]:checked ~ .dropdown-content{
        transform: translateX(0px);
        transition: 1.5s ease-out;
    }

    @keyframes before{
        50%{
            transform: translateY(0px);
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(45deg);
        }
    }

    
    @keyframes after{
        50%{
            transform: translateY(0px);
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-45deg);
        }
    }


    /*Footer responsive*/
    #footer{
        justify-content: flex-end;
    }

    
    blockquote{
        position: absolute;
        left: -9999px;
    }

    blockquote::before{
        display: block;
        position: relative;
        left: 9999px;
        top: 0;
        content: "Copyright © 2022";
    }
    

    .social-media{
        margin: 0;
    }

}

@media (min-width: 1024px){
    #main > div{
        margin: 5rem 1rem;
        background: rgb(64,18,18);
        background: linear-gradient(90deg, rgba(64,18,18,0.9) 0%, rgba(13,10,11,1) 40%, rgba(13,10,11,0.9) 50%, rgba(13,10,11,1) 60%, rgba(64,18,18,0.9) 100%);
    }

    #wrap{
        box-shadow: -1rem 0 3rem 1rem  rgba(255, 255, 255, 0.16), 1rem 0 3rem -1rem white;
        margin: auto 20%;
        margin-top: 100px;
    }   

    h1,h2{
        animation-iteration-count: infinite;
        animation-name: background;
        animation-duration: 10s;
    }

    #tittle{
        padding-bottom: 50px;
    }
}

@keyframes background{
    0%, 13%, 15%, 17%, 19%, 21%, 23%, 25%, 27%{
        color: white;
    }

    10%, 12%, 14%, 16%, 18%, 20%, 22%, 24%, 26%{
        color: black;
    }

    88%, 90%, 92%, 94%, 96%, 98%, 100%{
        color: white;
    }

    89%, 91%, 93%, 95%, 97%, 99%{
        color: black;
    }
}
